.App {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 40px 80px 40px 80px;
  margin: 40px 180px 40px 180px;
  text-align: center;
}

form {
  display: block;
  margin: 0 auto;
}

.btn {
  position: relative;
  right: 80px;
}
.search-input {
  position: relative;
  left: 60px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  height: 39px;
  width: 75%;
  outline: 0;
  background-color: white;
  text-align: center;
}

.WeatherInfo row {
  display: block;
  margin: 0 auto;
}

.CurrentCity {
  font-size: 50px;
  padding: 30px 0px 0px 0px;
}

.CurrentCity:first-letter {
  text-transform: capitalize;
}
.CurrentDateTime {
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}
.WeatherTemperature {
  position: relative;
  left: 40px;
}
.Icon img {
  position: relative;
  top: 0px;
  left: 100px;
  width: 140px;
  height: 140px;
}
.temperature {
  position: relative;
  top: -3px;
  font-size: 100px;
}

.unit {
  position: relative;
  top: -60px;
}

.unit .active {
  color: #757575;
  cursor: default;
}

.unit a:hover {
  text-decoration: none;
  cursor: default;
}

ul {
  position: relative;
  top: 37px;
  right: 40px;
  text-align: left;
  list-style-type: none;
  inset-block: none;
  color: #757575;
}

ul:first-letter {
  text-transform: capitalize;
}

footer {
  position: relative;
  top: 5px;
}
